<h1> Welcome to MakersBnb</h1>

<ul>
<% @listings.each do |listing| %>
 <li> <%= puts listing %> </li>
 <% end %>
</ul>



<button action="/signUp" id="Sign Up">Sign Up</button>

<button id="log-in" href="/">Log In</button>

<button id="add-listing">Add Listing</button>
