<h1> Welcome to MakersBnb</h1>

<form action="/sign-up" method="get">
  <input type="submit" value="Sign Up">
</form>
<!-- <button id="Sign-Up" href="/sign-up">Sign Up</button> -->

<button id="log-in">Log In</button>

<button id="add-listing">Add Listing</button>
