<h1> Welcome to MakersBnb</h1>

<form action="/sign-up" method="get">
  <input type="submit" value="Sign Up">

<form action="/listing/new" method="get">
  <input type="submit" value="Log in"

  <form action="/listing/new" method="get">
    <input type="submit" value="Log in"
  <form
