<form action='/sign-up' method='post'>
  Start Date: <input type='date' name='StartDate' placeholder='Date'><br>
  End Date: <input type='date' name='EndtDate' placeholder='Date'><br>
  Number of people: <input type='number' name='NumberOfPeople' placeholder="People?"><br>
  Total Price: <input type='number' name='TotalPrice' placeholder='Price'><br>
  <input type='submit' value='Submit'>
</form>
