<ul>
  <% @listings.each do |listing| %>
  <li>
    <a id="link" name="<%= listing.title %>" href='/listing/<%= listing.id %>'><%= listing.title %></a>
  </li>
  <% end %>
</ul>
<% if @listings.empty? %>
<p> Nope, sorry! Nothing.</p>
<% end %>
