<form action='/sign-up' method='post'>
  Name: <input type='text' name='message' placeholder='Message'><br>
  Address: <input type='text' name='address' placeholder="Address"><br>
  Description: <input type='text' name='description' placeholder='description'><br>
  Start Date: <input type='date' name='StartDate' placeholder='Start Date'><br>
  End Date: <input type='date' name='EndDate' placeholder='End Date'><br>
  Rent: <input type='number' name='rent' placeholder='Rent'><br>
  <input type='submit' value='Submit'>
</form>
