<link rel="stylesheet" href="/stylesheets/signup.css"
<body>

  <form id="form-box" action='/sign-up' method='post'>
    <div id="form-header"> Your details here</div>
    <div class='info-row'> Name:     <input id='n' type='text' name='name' placeholder='Name'><br></div>
    <div class='info-row'> Email:    <input id='e' type='text' name='email' placeholder="Email"><br></div>
    <div class='info-row'> Password: <input id='p' type='text' name='password' placeholder='Password'><br>
    <div class='info-row'> Username: <input id='u' type='text' name='username' placeholder='Username'><br></div>
    <br>
    <input id='press' type='submit' value='Submit'>
  </form>
</body>
