<form action='/listing/new' method='post'>
  Title: <input type='text' name='title' placeholder='Title'><br>
  Address: <input type='text' name='address' placeholder="Address"><br>
  Description: <input type='text' name='description' placeholder='description'><br>
  Price: <input type='number' name='price' placeholder='Price'><br>
  <input type='submit' value='Submit'>
</form>
