<link rel="stylesheet" href="/stylesheets/new_listing.css">

<body>
<div class="card">
<form action='/listing/new' method='post'>
  Title: <input id = 'title' type='text' name='title' placeholder='Title'><br>
  Address: <input id = 'address' type='text' name='address' placeholder="Address"><br>
  Description: <input id = 'description' type='text' name='description' placeholder='description'><br>
  Price: <input id = 'price' type='number' name='price' placeholder='Price'><br>
  <input type='submit' value='Submit'>
</form>
</div>
</body>
