
<form action="/login" method="post">
  Email: <input type='email' name='email' placeholder="Email"><br>
  Password: <input type='password' name='password' placeholder='Password'><br>
  <input type="submit" value="login" />
</form>

<form action="/login/destroy" method="post">
  <input type="submit" value="Sign out" />
</form>
