<link rel="stylesheet" href="/stylesheets/new_login.css">

<body>
<div class='card'>
<form action="/login" method="post">
  Email: <input id='email' type='email' name='email' placeholder="Email"><br>
  Password: <input id='password' type='password' name='password' placeholder='Password'><br>
  <input id='login_button' type="submit" value="login" />
</form>
</div>
</body>
